/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: #eee;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

.modal .actions {
  display: flex;
  gap: 5px;
}

.modal .actions > * {
  flex: 1;
}

.modal .delete {
  background-color: var(--red);
}

.modal .input-group {
  display: flex;
  gap: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 480px;
  margin: auto;
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10px;
  padding-top: 20vh;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}

.controls > * {
  min-width: 80px;
}

.controls .increment {
  background-color: var(--lightblue);
}

.controls .start {
  background-color: var(--green);
}

.controls .reset {
  background-color: var(--red);
}

.controls .ringtone {
  background-color: var(--blue);
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time.alert {
  color: #f44336;
}

.message {
  font-size: 28px;
  font-weight: bold;
  color: #f44336;
}

.ringtone-modal .settings {
  display: flex;
  gap: 5px;
}

.ringtone-modal .settings > * {
  background-color: var(--lightblue);
}

.ringtone-modal .reset {
  background-color: var(--red);
}

.ringtone-input {
  max-width: 125px;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.75rem;
  background-color: transparent;
  color: var(--text-color);
}